.maindivorgform {
  font-family: Impact, sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}

.headersform {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 10px;
}

.exitbutton{
  background: none;
  margin-left: -25vw;
  margin-top: -5vh;
}

.exitbutton:hover {
  opacity: 0.5;
}

.titleorgform {
  font-size: 3vw;
  color: white;
  font-weight: lighter;
  text-align: center;
  margin-right: 30vw;
  margin-top: -5vh;

}

.texth2 {
  color: white;
}

.contentorgform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.table-containerfilter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}


.filterorgform {
  display: flex;
  justify-content: flex-start;
  gap: 1vw;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

.filter-buttonorgform {
  padding: 10px 20px;
  font-size: 1vw;
  width: 10vw;
  background-color: darkcyan;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s ease-out; /* Добавили анимацию для трансформации */
  flex-grow: 1; /* Растягиваем кнопки одинаково */
  text-align: center; /* Центрируем текст внутри кнопки */
}

.filter-buttonorgform:hover {
  background-color: darkorange;
  opacity: 0.5;
}

.filter-buttonorgform.active {
  background-color: darkorange;
  color: white;
}

.filter-buttonorgform:active {
  transform: scale(0.95);
  transition: transform 0.1s ease-in;
}


.table-containertableorgform {
  width: 75%;
}

.styled-tableorgform {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 10px;
}

.styled-tableorgform th, .styled-tableorgform td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

.styled-tableorgform th {
  background-color: rgb(255, 140, 0);
  font-weight: lighter;
}

.styled-tableorgform tr:nth-child(even) {
  background-color: #f9f9f9;
}

.styled-tableorgform tr:hover {
  background-color: #f1f1f1;
}

.no-data {
  text-align: center;
  font-style: italic;
  color: #888;
  padding: 10px;
}
