html, body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  background-color: #318ea8;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maindiv {
  background-color: #318ea8;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font-size: calc((3vw + 3vh)/2);
  color: #ffffff;
  margin-top: 2%;
  width: 100%;
  text-align: center;
}

.content {
  background-color: #318ea8;
  display: flex;
  flex-direction: row; 
  gap: 40px; 
  width: 90%;
  max-width: 1200px;
  justify-content: center;
  align-items: flex-start; 
}

.filter {
  background-color: #00008BFF;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  text-align: left;
  height: fit-content;
}

.filter h2 {
  font-family: Impact, sans-serif;
  margin-bottom: 15px; 
  text-align: center;
  color: #318ea8;
}

.filter-button {
  display: block;
  width: 100%;
  padding: 15px; 
  background-color: white;
  color: black;
  font-size: calc((2vw + 2vh)/2);
  margin-bottom: 10px; 
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

.filter-button:hover,
.filter-button.active {
  background-color: #318ea8;
  color: white;
}

.table-container {
  display: flex;
  gap: 40px; 
  justify-content: space-between; 
  width: 100%;
}

.table-containerfilter {
  background-color: #318ea8;
  padding: 15px;
  border-radius: 10px;
  color: black;
  text-align: center;
  height: fit-content;
  max-height: 70vh;
  overflow-y: auto;
}

.table-containertable {
  background-color: #318ea8;
  padding: 15px;
  border-radius: 10px;
  width: 60%;
  color: black;
  text-align: center;
  height: fit-content;
  max-height: 700px; 
  overflow-y: auto; 
  border: 2px solid #318ea8; 
}

.table-container h2 {
  font-family: Impact, sans-serif;
  font-size: calc((2vw + 2vh)/2);
  margin-bottom: 10px;
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  border: 1px solid gray;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #ffffff;
}

tr {
  background-color: #ffffff;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

.no-data {
  color: black;
  font-size: calc((2vw + 2vh)/2);
  text-align: center;
}
