.deleteacc {
    text-align: center;
}

.warning-text {
    color: #318EA8;
    font-weight: bold;
}

.footer_deleteaccpage {
    display: flex;
    justify-content: center;
    gap: 50px; 
    margin-top: 20px;
}

.cancel-button {
    background-color: #318EA8;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-button {
    background-color: gray;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.cancel-button:hover {
    background-color: #FF8000;
}

.delete-button:hover {
    background-color: darkgray;
}