body {
    font-family: Impact, sans-serif;
    text-align: center;
    background: #318ea8;
        overflow: auto !important;
}

.info_headersorg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
}

.info_textorg {
    font-size: calc((4vw + 4vh)/2);
    color: white;
    margin-top: -5vh;
    font-weight: lighter;
}

.info_exitbutton {
    border: none;
    background: none;
    cursor: pointer;
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    margin-bottom: 10vh;
    margin-left: 2vw;
}

.info_exitbutton:hover {
    opacity: 0.5;
}

.info_exitbutton:disabled {
    opacity: 0.3;
}

.info_exitbutton:disabled:hover {
    background: none;
    color: rgba(255, 255, 255, 0.5);
}

.info_exitbutton:disabled {
    background: none;
    opacity: 0.1;
}

.info_deletebutton {
    border: none;
    background: none;
    cursor: pointer;
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    margin-bottom: 10vh;
    margin-right: 2vw;
}

.info_deletebutton:hover {
    opacity: 0.5;
}

.info_deletebutton:disabled {
    background: none;
    opacity: 0.1;
}

.info_deletebutton:disabled:hover {
    background: none;
}

.disabled-card {
    opacity: 0.5;
    filter: grayscale(100%);
    transition: all 0.3s ease;
}

.infoinput{
    color: black !important;
}

.infoinput:focus {
    width: 90% !important;
}

.infoselect{
    background-color: white !important;
    color: black;
    border: 1px solid black;
    margin-left: 6vw;
}

.infoselect:disabled{
    background-color: darkgrey;
}

.infoselectoption{
    background-color: white;
    color: black;
}

.info_confirmplate {
    text-align: center;
    margin-top: 5vh;
}

.info_editbutton {
    border: none;
    background-color: darkorange;
    color: white;
    font-size: 2vw;
    border-radius: 15px;
    cursor: pointer;
    width: 15vw;
    height: 6vh;
    transition: background-color 0.3s, transform 0.1s ease-out;
}

.info_editbutton:hover {
    background-color: white;
    color: darkorange;
}

.info_savebutton {
    border: none;
    background-color: darkorange;
    color: white;
    font-size: 2vw;
    border-radius: 15px;
    cursor: pointer;
    width: 15vw;
    height: 6vh;
    transition: background-color 0.3s, transform 0.1s ease-out;
}

.info_savebutton:hover {
    background-color: white;
    color: darkorange;
}

.info_savebutton:disabled {
    background-color: darkcyan !important;
    color: white !important;
    border-radius: 15px;
    border: white 1px solid !important;
}

.info_savebutton:disabled:hover {
    background-color: darkcyan !important;
    color: white !important;
    border-radius: 15px;
    border: white 1px solid !important;
}
