html {
    overflow-x: hidden;
    img {
        width: 2vw;
        height: 2vw;
    }
}

body {
    font-family: Impact, sans-serif;
    text-align: center;
    background: #318ea8;
}

.info_headersorg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
}

.info_textorg {
    margin-right: 40vw;
    font-size: calc((4vw + 4vh)/2);
    color: white;
    margin-top: -5vh;
    font-weight: lighter;
}

.info_exitbutton {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: calc((3vw + 3vh)/2);
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    margin-bottom: 10vh;
    margin-left: 2vw;
}

.info_exitbutton:hover {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    opacity: 0.5;
    color: white;
    cursor: pointer;
    font-size: calc((3vw + 3vh)/2);
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    margin-left: 2vw;
}

.info_exitbutton:disabled {
    background: none;
    color: rgba(255, 255, 255, 0.5);
}

.info_exitbutton:disabled:hover {
    background: none;
    color: rgba(255, 255, 255, 0.5);
}

.info_registration {
    display: grid;
    grid-template-columns: 50vw 50vw;
    margin-top: -5vh;
}

.info_orginfo, .info_contactinfo {
    background: #318ea8;
    border: none;
    color: rgba(255, 255, 255, 0.49);
    text-align: left;
}

.info_contactinfoitem {
    margin-left: 5vw;
}

.info_orginfo {
    margin-left: 10vw;
}

.info_contactinfo {
    margin-left: 5vw;
}

.info_contactinfo h2 {
    margin-left: 5vw;
}

h2 {
    margin-bottom: 2vh;
    font-size: calc((3vw + 3vh)/2);
}

.info_orginfoitem, .info_contactinfo > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
}

label {
    font-size: calc((2vw + 2vh)/2);
    margin-bottom: 5px;
}

input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 25vw;
    height: 4vh;
    outline: none;
    text-align: left;
    padding-left: 1vw;
    color: black;
    font-size: calc((2vw + 2vh)/2);
    margin-top: 0.5vh;
}

.cardsContainer {
    display: flex; /* Используем flex для размещения карточек в ряд */
    justify-content: space-between; /* Распределение карточек по горизонтали */
}

.card {
    background: white; /* Цвет фона карточки */
    border: 20px solid black;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 20px; /* Закругленные углы */
    padding: 10px; /* Внутренние отступы */
    width: 28%; /* Уменьшенная ширина карточки */
    margin: 0 1%; /* Отступы между карточками */
}

h2 {
    margin-bottom: 1vh; /* Уменьшенный отступ */
    font-size: calc((2vw + 2vh) / 2);
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.orginfoitemSC, .contactinfoitemSC > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
}

label {
    font-size: calc((2vw + 2vh) / 2);
    margin-bottom: 5px;
    font-weight: lighter;
}

input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 25vw;
    height: 4vh;
    outline: none;
    text-align: left;
    padding-left: 1vw;
    color: black;
    font-size: calc((2vw + 2vh) / 2);
    margin-top: 0.5vh;
}

.info_confirmplate {
    text-align: left;
    grid-template-columns: 30% 70%;
    width: 30vw;
    height: 5vh;
    gap: 1vh;
    margin-left: 7.5vw;
    margin-top: 18vh;
}

.info_confirmplate label {
    font-size: calc((1.5vw + 1.5vh)/2);
}

.info_confirmplate .info_custom {
    margin-left: 0.5vw;
    width: 1vw;
    height: 1vw;
    border-radius: 2px;
    border: none;
}

.info_confirmplate .info_custom:hover {
    margin-left: 0.5vw;
    width: 1vw;
    height: 1vw;
    border-radius: 2px;
    border: none;
    outline: none;
    box-shadow: 0 0 15px darkorange;
}

.info_confirmplate a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
    font-weight: lighter;
    margin-left: 0.1vw;
}

.info_confirmplate a:hover {
    text-decoration: underline;
    color: darkorange;
}

.info_editbutton {
    border: none;
    background-color: darkorange;
    color: white;
    font-size: 2vw;
    border-radius: 15px;
    cursor: pointer;
    width: 15vw;
    height: 6vh;
    margin-left: 12.5vw;
    margin-top: -10vh;
    transition: background-color 0.3s, transform 0.1s ease-out;
}

.info_editbutton:hover {
    background-color: white;
    color: darkorange;
}

.info_editbutton:active {
    transform: scale(0.95);
    transition: transform 0.1s ease-in;
}

.info_savebutton {
    border: none;
    background-color: darkorange;
    color: white;
    font-size: 2vw;
    border-radius: 15px;
    cursor: pointer;
    width: 15vw;
    height: 6vh;
    margin-left: 12.5vw;
    margin-top: -10vh;
    transition: background-color 0.3s, transform 0.1s ease-out;
}

.info_savebutton:hover {
    background-color: white;
    color: darkorange;
}

.info_savebutton:disabled {
    background-color: darkcyan !important;
    color: white !important;
    border-radius: 15px;
    border: white 1px solid !important;
}

.info_savebutton:disabled:hover {
    background-color: darkcyan !important;
    color: white !important;
    border-radius: 15px;
    border: white 1px solid !important;
}

.info_savebutton:active {
    transform: scale(0.95);
    transition: transform 0.1s ease-in;
}