.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.enteracc {
    font-family: Impact, sans-serif;
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-enterpage, .password-enterpage {
    font-size: calc((1.3vw + 1.3vh)/2);
    color: #318EA8;
    text-align: center;
    margin-bottom: 10px;
}

.login-textfield, .password-textfield {
    width: 100%;
    border-radius: 10px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #318EA8;
    background-color: #318EA8;
    color: #ffffff;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.login-textfield::placeholder, .password-textfield::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.enter-enterpage {
    width: 100%;
    padding: 12px;
    background-color: #FF8000;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: calc((1.3vw + 1.3vh)/2);
    cursor: pointer;
    margin-top: 10px;
}

.enter-enterpage:hover {
    background-color: #318EA8;
}
