html {
    overflow-y: scroll !important;
}

body {
    font-family: Impact, sans-serif;
    text-align: center;
    background: #318ea8;
}

.headersorg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
}

.textorg {
    font-size: calc((4vw + 4vh) / 2);
    color: white;
    font-weight: lighter;
    margin-top: -5vh;
    margin-right: 40vw;
}

.registration-card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 50vw;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orginfo, .contactinfo, .addressinfo {
    background: #318ea8;
    border: none;
    color: rgba(255, 255, 255, 0.49);
    text-align: left;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

h2 {
    margin-bottom: 2vh;
    font-size: calc((3vw + 3vh) / 2);
    color: white;
}

.orginfoitem, .contactinfo > div, .addressinfo > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
    margin-left: 2vw !important;
}

.inputinfo {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 90%;
    height: 4vh;
    outline: none;
    text-align: left;
    padding-left: 1vw;
    color: black !important;
    font-size: calc((2vw + 2vh) / 2);
    margin-bottom: 0.5vh;
}

.inputinfo:focus {
    border: 1px solid darkorange;
    box-shadow: 0 0 5px darkorange;
}

.inputcode {
    width: 10vw !important;
    height: 5vh;
    margin-left: 20vw;
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.navigation-buttons button {
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 3vw;
    height: 5vh;
    transition: background-color 0.3s, transform 0.1s ease-out;
}

.navigation-buttons button:hover {
    background-color: white;
    color: darkorange;
}

.confirm-button-container {
    display: flex;
    justify-content: center;
    margin-top: -6vh;
    margin-left: 40vw;
}

.confirmbutton {
    width: 10vw !important;
    height: 5vh;
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s ease-out;
}

.confirmbutton:hover {
    background-color: white;
    color: darkorange;
}

.confirmplate {
    text-align: left;
    width: 90%;
    margin-top: 10vh;
}

.confirmplate label {
    font-size: calc((1.5vw + 1.5vh) / 2);
}

.custom {
    margin-left: 0.5vw;
    width: 1vw;
    height: 1vw;
    border-radius: 2px;
    border: none;
}

.custom:hover {
    box-shadow: 0 0 15px darkorange;
}

.confirmlabel {
    color: white;
    font-size: calc((1vw + 1vh) / 2) !important;
}

a {
    color: white !important;
    text-decoration: underline;
    font-weight: lighter;
    margin-left: 0.1vw;
}

a:hover {
    text-decoration: underline;
    color: darkorange;
}

.getcode_button {
    border: none;
    background-color: darkorange;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    width: 10vw;
    height: 5vh;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.1s ease-out;
    margin-left: 20.5vw;
    margin-top: -1vh;
    margin-bottom: -0.5vh;
}

.getcode_button:hover {
    background-color: white;
    color: darkorange;
}

.getcode_button:disabled {
    background-color: darkgrey;
    color: #ffffff;
}

.exitbuttonsc {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: calc((3vw + 3vh) / 2);
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    margin-bottom: 15vh;
    margin-right: 35vw;
}

.exitbuttonsc:hover {
    opacity: 0.5;
}

.progress-bar {
    background-color: lightgray;
    border-radius: 10px;
    height: 1vh;
    width: 20vw;
    margin: 0 20px;
    position: relative;
    margin-top: 2vh;
}

.progress-fill {
    background-color: black;
    height: 100%;
    border-radius: 10px;
    transition: width 0.3s ease;
}