body {
    font-family: Impact, sans-serif;
    text-align: center;
    background: #318ea8;
}

.headersorg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    margin-bottom: 5vh;
    .textorg{
        font-size: calc((4vw + 4vh)/2);
        margin-left: 35vw;
        color: white;
        font-weight: lighter;
    }
}

.registration {
    display: grid;
    grid-template-columns: 50vw 50vw;
    margin: 0 auto;
}

.orginfo, .contactinfo {
    background: #318ea8;
    border: none;
    color: rgba(255, 255, 255, 0.49);
    text-align: left;
}

.contactinfoitem {
    margin-left: 5vw;
}

.orginfo {
    margin-left: 10vw;
}
.contactinfo {
    margin-left: 5vw;
    h2 {
        margin-left: 5vw;
    }
}
 h2 {
    margin-bottom: 2vh;
    font-size: calc((3vw + 3vh)/2);
}

.orginfoitem, .contactinfo > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
}


label {
    font-size: calc((2vw + 2vh)/2);
    margin-bottom: 5px;
}

.inputinfo {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 30vw;
    height: 4vh;
    outline: none;
    text-align: left;
    padding-left: 1vw;
    color: black !important;
    font-size: calc((2vw + 2vh)/2);
}

.inputinfo:focus {
    border-radius: 20px;
    width: 30vw;
    height: 4vh;
    outline: none;
    text-align: left;
    padding-left: 1vw;
    color: black;
    font-size: calc((2vw + 2vh)/2);
    border: 1px solid darkorange;
    box-shadow: 0 0 5px darkorange;
}

.inputcode {
    text-align: center !important;
    color: black !important;
}

.getCodeButton {
    width: 10vw;
    border-radius: 20px;
    margin-left: 10vw;
    transition: background-color 0.3s, transform 0.1s ease-out;
}

.getCodeButton:hover {
    background: darkcyan;
}

.getCodeButton:active {
    transform: scale(0.95);
    transition: transform 0.1s ease-in;
}

.confirmplate {
    text-align: left;
    grid-template-columns: 30% 70%;
    width: 30vw;
    height: 5vh;
    gap: 1vh;
    margin-left: 7.5vw;
    margin-top: 10vh;
    label{
        font-size: calc((1.5vw + 1.5vh)/2);
    }
    .custom{
        margin-left: 0.5vw;
        width: 1vw;
        height: 1vw;
        border-radius: 2px;
        border: none;
    }
    .custom:hover{
        margin-left: 0.5vw;
        width: 1vw;
        height: 1vw;
        border-radius: 2px;
        border: none;
        outline: none;
        box-shadow: 0 0 15px darkorange;
    }
    a {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: underline;
        font-weight: lighter;
        margin-left: 0.1vw;
    }

     a:hover {
        text-decoration: underline;
        color: darkorange;
    }
}

.crappbutton {
    border: none;
    background-color: orange;
    color: white;
    font-size: calc((1.5vw + 1.5vh)/2);
    border-radius: 15px;
    cursor: pointer;
    width: 15vw;
    height: 6vh;
    margin-left: 12.5vw;
    transition: background-color 0.3s, transform 0.1s ease-out;
}

.crappbutton:hover {
    border: none;
    background-color: white;
    color: darkorange;
    font-size: calc((1.5vw + 1.5vh)/2);
    border-radius: 15px;
    cursor: pointer;
    width: 15vw;
    height: 6vh;
}

.crappbutton:disabled {
    border: 1px solid white;
    font-size: calc((1.5vw + 1.5vh)/2);
    background-color: darkcyan;
    color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    width: 15vw;
    height: 6vh;
}

.crappbutton:active {
    transform: scale(0.95);
    transition: transform 0.1s ease-in;
}