html {
    overflow-x: hidden;
    img {
        width: 2vw;
        height: 2vw;
    }
}

body {
    font-family: Impact, sans-serif;
    text-align: center;
    background: #318ea8;
}

.headersorgSC {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .textSC {
        font-weight: lighter;
        font-size: calc((4vw + 4vh) / 2);
        color: white;
        margin-right: 40vw;
        margin-top: -5vh;
    }
    .deletebuttonSC {
        border: none;
        cursor: pointer;
        background: none;
        font-size: 2vw;
        width: 10vw;
        height: 5vh;
        margin-top: -13vh;
    }
    .deletebuttonSC:hover {
        opacity: 0.5;
    }
    .exitbuttonsc {
        border: none;
        cursor: pointer;
        width: 10vw;
        height: 5vh;
        border-radius: 5px;
    }
    .exitbuttonsc:hover {
        opacity: 0.5;
    }
}

.statusplate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
    margin-top: -5vh;
    margin-left: 27vw;
    label {
        color: white;
        font-size: calc((2vw + 2vh) / 2);
    }
    input[type="text"] {
        margin-left: 0.5vw;
        background-color: darkcyan;
        color: white;
        border: white solid 1px;
        outline: none;
        font-size: calc((2vw + 2vh) / 2);
        font-family: Impact, sans-serif;
        text-align: center;
        width: 10vw;
        height: 5vh;
    }
}

.status {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10vw;
}

.reasonbutton {
    width: 7vw;
    height: 5vh;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: greenyellow;
    font-size: 1.5vw;
    text-align: center;
    transition: background-color 0.3s, transform 0.1s ease-out;
}

.reasonbutton:hover {
    background-color: greenyellow;
    color: rgb(0, 0, 0);
}

.reasonbutton:active {
    transform: scale(0.95);
    transition: transform 0.1s ease-in;
}

.cardsContainer {
    display: flex;
    justify-content: center; /* Центрируем карточки */
    position: relative; /* Для позиционирования карточек */
}

.card {
    background: white;
    border: 10px solid black;
    color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 20px;
    padding: 10px;
    width: 28%;
    margin: 0 1%;
    transition: transform 0.3s ease-in-out, opacity 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    will-change: transform, opacity, box-shadow;
}

.card.left,
.card.right {
    opacity: 0.6;
    transform: scale(0.9);
}

.card.center {
    opacity: 1;
    transform: scale(1.08);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.titleorgcard {
    margin-bottom: 1vh;
    font-size: calc((2vw + 2vh) / 2) !important;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.8) !important;
    text-align: center;
}

.orginfoitemSC {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
}

label {
    font-size: calc((2vw + 2vh) / 2);
    margin-bottom: 5px;
    font-weight: lighter;
}

input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 25vw;
    height: 4vh;
    outline: none;
    text-align: left;
    padding-left: 1vw;
    color: black;
    font-size: calc((2vw + 2vh) / 2);
    margin-top: 0.5vh;
}

.modalSC {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalSC-content {
    background: #fff;
    padding: 2vh;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 20vw;
    text-align: center;
    position: relative;
}

.closemodalSC {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5vw;
    cursor: pointer;
    color: #333;
}

.closemodalSC:hover {
    color: red;
}

.reason-textarea {
    width: 90%;
    height: 15vh;
    padding: 2vh;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    font-size: 1vw;
    background-color: #f5f5f5;
}
