.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.createacc {
    font-family: Impact, sans-serif;
    font-weight: lighter;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.headcreatepage {
    background-color: #ffffff;
    color: #318EA8; 
    text-align: center; 
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-group h4 {
    font-size: calc((1.3vw + 1.3vh)/2);
    color: #318EA8;
    margin-bottom: 5px;
}

.inputcreateacc[type="text"] {
    border-radius: 10px;
    flex: 1; 
    padding: 15px;
    border: 1px solid #318EA8;
    background-color: #318EA8; 
    box-sizing: border-box;
    width: 100%; 
    max-width: 100%; 
    box-sizing: border-box; 
}

.inputcreateacc[type="text"]::placeholder {
    font-size: calc((1.1vw + 1.1vh)/2);
    color: #ffffff; 
    opacity: 0.5;
}

button {
    background-color: #FF8000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: calc((1.3vw + 1.3vh)/2);
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.terms-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.terms-container label {
    font-size: calc((1.3vw + 1.3vh)/2);
    color: #318EA8;
}

.footercreateacc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.createaccbutton {
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: calc((1.3vw + 1.3vh)/2);
    border: none;
    background-color: #FF8000;
    color: white;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.createaccbutton:hover {
    background-color: #318EA8;
}

.header-container {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headcreatepage {
    flex-grow: 1;
}

.createaccerror-message{
    color: red;
}
