.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
}

.createacc {
    font-family: Impact, sans-serif;
    font-weight: lighter;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.headcreatepage {
    background-color: #ffffff;
    color: #318EA8;
    text-align: center;
    font-size: calc((3vw + 3vh) / 2);
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-group h4 {
    font-size: calc((1.3vw + 1.3vh)/2);
    color: #318EA8;
    margin-bottom: 5px;
    font-weight: lighter;
}

.inputcreateacc[type="text"] {
    border: 1px solid darkorange;
    box-shadow: 0 0 5px darkorange;
    outline: none;
    flex: 1;
    padding: 15px;
    border: 1px solid #318EA8;
    background-color: #318EA8;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    color: white;
}

.inputcreateacc[type="text"]:focus {
    border: 1px solid darkorange;
    box-shadow: 0 0 5px darkorange;
    outline: none;
    flex: 1;
    padding: 15px;
    border: 1px solid #318EA8;
    background-color: #318EA8;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    color: white;
}

.inputcreateacc[type="text"]::placeholder {
    font-size: calc((1.1vw + 1.1vh)/2);
    color: #ffffff;
    opacity: 0.5;
}

.texthref {
    text-align: left;
    margin-left: 1vw;
    font-size: calc((1.2vw + 1.2vh)/2) !important;
}

input[type=checkbox] {
    cursor: pointer;
}

button {
    background-color: #FF8000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: calc((1.3vw + 1.3vh)/2);
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.terms-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.terms-container label {
    font-size: calc((1.3vw + 1.3vh)/2);
    color: #318EA8;
}

.footercreateacc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.createaccbutton {
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: calc((1.3vw + 1.3vh)/2);
    border: none;
    background-color: #FF8000;
    color: white;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s, transform 0.1s ease-out;
}

.createaccbutton:hover {
    background-color: #318EA8;
}

.createaccbutton:disabled {
    background-color: darkgrey;
}

.createaccbutton:active {
    transform: scale(0.95);
    transition: transform 0.1s ease-in;
}

.header-container {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headcreatepage {
    flex-grow: 1;
}

.createaccerror-message {
    color: rgb(0, 0, 0);
    font-size: calc((1.3vw + 1.3vh)/2);
    margin-bottom: 15px;
    text-align: center;

}

.createaccclosebutton {
    background: none !important;
    color: white;
    font-size: 1.5vw;
    margin-top: 1vw!important;
    margin-left: 80vw !important;
    margin-right: 2vw !important;
    margin-bottom: 80vh !important;
}

button:disabled {
    background-color: darkgrey;
}

button:disabled:hover {
    background-color: darkgrey;
    cursor: not-allowed;
}

.inputcreateacc:disabled {
    background-color: grey;
}