.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.orgloginpage {
    font-family: Impact, sans-serif;
    width: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.orgerror-message {
    color: red;
    font-size: calc((1.3vw + 1.3vh)/2);
    margin-bottom: 15px;
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-group h4 {
    font-size: calc((1.3vw + 1.3vh)/2);
    color: #318EA8;
    margin-bottom: 5px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px 20px;
    background-color: #ffffff;
    color: #318EA8;
}

.headerorgpage {
    color: #318EA8;
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: calc((1.3vw + 1.3vh)/2);
}

.inputorg[type="text"]::placeholder {
    font-size: calc((1.1vw + 1.1vh)/2);
    color: #ffffff; 
    opacity: 0.5;
}

.orgbutton {
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: calc((1.3vw + 1.3vh)/2);
    border: none;
    background-color: #FF8000; 
    color: white;
    cursor: pointer;
    width: 100%; 
    box-sizing: border-box; 
}

.inputorg[type="text"] {
    border-radius: 10px;
    flex: 1; 
    padding: 15px;
    border: 1px solid #318EA8;
    background-color: #318EA8; 
    box-sizing: border-box;
    width: 100%;
    max-width: 100%; 
}

.orgfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.orgfooter h6 {
    border-radius: 10px;
    font-size: calc((1.3vw + 1.3vh)/2);
    color: #318EA8; 
    cursor: pointer;
    margin: 0;
    text-align: center;
}

.orgfooterbutton {
    border-radius: 10px;
    width: auto; 
    padding: 15px 25px;
    font-size: calc((1.3vw + 1.3vh)/2);
    box-sizing: border-box; 
    margin: 0; 
    background-color: #FF8000; 
}

.orgfooterbutton:hover {
    background-color: #318EA8; 
}

.orgfooter h6:hover {
    text-decoration: underline;
}

.orgbutton:hover {
    background-color: #318EA8; 
}
