.headersservice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Позволяет адаптироваться при сужении */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10vh;
    .title {
        font-weight: lighter;
        font-size: calc((5vw + 5vh)/2);
        color: white;
        margin: 0;
        margin-right: 10vw;
        text-align: center;
        flex: 1;
    }

    .accbuttonApps {
        border: none;
        background: none;
        color: white;
        cursor: pointer;
        font-size: calc((3vw + 3vh)/2);
        width: 10vw;
        min-width: 50px;
        height: 5vh;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .accbuttonApps img {
        width: 3vw !important;
        height: auto !important;
        max-width: 3vw !important;
    }

    .accbuttonApps:hover {
        opacity: 50%;
    }
}

h2 {
    color: white !important;
    font-size: calc((3vw + 3vh)/2) !important;
    font-weight: lighter;
}

.buttons-containerservice {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10vw;
    margin-top: 2vh;
}

.wash-card,
.tyre-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    width: 25vw;
    height: 23vw;
    color: white;
    transition: transform 0.4s, box-shadow 0.4s;
    transform-style: preserve-3d;
    perspective: 1000px;
    position: relative;
    overflow: hidden;
}

.wash-card {
    background-color: darkblue;
}

.tyre-card {
    background-color: darkgoldenrod;
}

.wash-card:hover,
.tyre-card:hover {
    transform: scale(1.05) rotateY(5deg);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

.service-image {
    width: 15vw !important;
    height: 15vw !important;
    object-fit: contain;
    transition: transform 0.4s;
}

.wash-card:hover .service-image,
.tyre-card:hover .service-image {
    transform: rotate(-10deg) scale(1.1);
}

@media screen and (max-width: 900px) {
    .wash-card,
    .tyre-card {
        width: 80vw;
        height: auto;
    }

    .service-image {
        width: 40vw !important;
        height: 40vw !important;
    }
}

@media screen and (max-width: 500px) {
    .wash-card,
    .tyre-card {
        width: 90vw;
        padding: 15px;
        font-size: 10vw !important;
    }

    .service-image {
        width: 20vw !important;
        height: 20vw !important;
    }

    .title {
        font-size: 6vw;
        margin-right: 0;
        text-align: center;
        width: 100%;
    }

    .headersservice {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .accbuttonApps {
        margin-bottom: 0;
    }
}
