.servicepage {
    font-family: Impact, sans-serif;
    background-color: #318ea8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    overflow: hidden;
}

.washingmaindiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d3085;
    border-radius: 10px;
    width: 50vw;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    padding: 3%;
    margin: auto;
}

.headerS {
    display: grid;
    grid-template-columns: 10vw 90vw;
    padding: 10px;
}

.exitbuttonS {
    background: none;
    margin-right: 80vw;
}

.exitbuttonS:hover {
    opacity: 0.5;
}

.titleS {
    font-size: calc((4vw + 4vh) / 2);
    color: white;
    font-weight: lighter;
    margin-right: 12vw;
}

.service-title {
    font-size: calc((3vw + 3vh) / 2);
    text-align: center;
    color: #ffffff;
    margin-top: -3vh;
    font-weight: lighter;
}

.choose{
    color: white;
}

.washingmaindiv {
    margin-top: 1vh;
}

.washingservicediv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.left-column, .center-column, .right-column {
    flex: 1;
    margin-right: 10px;
}

.left-column:last-child, .center-column:last-child, .right-column:last-child {
    margin-right: 0;
}

.servdiv {
    margin-bottom: 15px;
}

.service-dropdown {
    display: flex;
    align-items: center;
}

.remove-button {
    margin-left: 10px; /* Отступ между выпадающим списком и кнопкой удаления */
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.cost {
    font-weight: bold;
}

.washingbutton-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;/
}

.itog-container {
    display: flex;
    align-items: center;
    margin-right: 20vw;
}

.itog {
    margin-right: 1vw;
    color:white;
    font-size: 2vw;
}

.summa {
    background: none;
    color: white;
    font-weight: lighter;
    font-size: 2vw;
    width: 6vw;
}

.washingbutton {
    padding: 10px 20px;
    background-color: darkorange;
    color: white;
    width: 10vw;
    height: 5vh;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 5vw;
}

.washingbutton:hover {
    background-color: white;
    color:darkorange;
}

.washingbutton:disabled,
.washingbutton:disabled:hover {
    background-color: grey;
    color: white;
}

@media (max-width: 768px) {
    .washingservicediv {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .left-column, .center-column, .right-column {
        width: 100%;
    }

    .button-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    button {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .service-title {
        font-size: 1.8rem;
    }

    .servdiv {
        font-size: 1rem;
    }

    button {
        width: 100%;
        font-size: 1rem;
        padding: 8px;
    }
}

.washingselect {
    width: 15vw;
    height: 5vh !important;
    background-color: white;
    color: black !important;
    border: none;
    border-radius: 20px;
}

.washingselect:focus {
    background-color: white;
    color: black !important;
}

.optionS {
    background-color: white;
    color: black !important;
}
