body {
    font-family: Arial, sans-serif;
    background-color: #a1a1a1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #ffffff;
    color: #318EA8; 
    text-align: ce; 
    padding: 30px;
}

div {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
}

.input-container {
    border-radius: 10px;
    display: flex;
    align-items: center; 
}

.input-container h4 {
    border-radius: 10px;
    font-size: 18px;
    color: #318EA8;
    margin: 0 15px 0 0; 
    text-align: left; 
}

input[type="text"] {
    border-radius: 10px;
    flex: 1; 
    padding: 15px;
    font-size: 18px;
    border: 1px solid #318EA8;
    background-color: #318EA8; 
    color: #ffffff; 
    box-sizing: border-box;
}

input[type="text"]::placeholder {
    color: #ffffff; 
    opacity: 0.7;
}

button {
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    background-color: #FF8000; 
    color: white;
    cursor: pointer;
    width: 100%; 
    box-sizing: border-box; 
}

button:hover {
    background-color: #FF8000; 
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.footer h6 {
    border-radius: 10px;
    font-size: 16px;
    color: #318EA8; 
    cursor: pointer;
    margin: 0;
    text-align: center;
}

.footer h6:hover {
    text-decoration: underline;
}

.footer button {
    border-radius: 10px;
    width: auto; 
    padding: 15px 25px;
    font-size: 18px;
    box-sizing: border-box; 
    margin: 0; 
    background-color: #FF8000; 
}

.footer button:hover {
    background-color: #318EA8; 
}

.button button:hover {
    background-color: #318EA8; 
}
