.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.divloginpage {
    font-family: Impact, sans-serif;
    width: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.headerloginpage {
    background-color: #ffffff;
    color: #318EA8; 
    text-align: center; 
    padding: 30px;
}

.input-containerloginpage {
    padding-bottom: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center; 
}

.input-containerloginpage h4 {
    border-radius: 10px;
    font-size: calc((1.3vw + 1.3vh)/2);
    color: #318EA8;
    margin: 0 15px 0 0; 
    text-align: left; 
}

input[type="text"] {
    border-radius: 10px;
    flex: 1; 
    padding: 15px;
    font-size: calc((1.3vw + 1.3vh)/2);
    border: 1px solid #318EA8;
    background-color: #318EA8; 
    color: #ffffff; 
    box-sizing: border-box;
}

input[type="text"]::placeholder {
    color: #ffffff; 
    opacity: 0.7;
}

button {
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: calc((1.3vw + 1.3vh)/2);
    border: none;
    background-color: #FF8000; 
    color: white;
    cursor: pointer;
    width: 100%; 
    box-sizing: border-box; 
}

button:hover {
    background-color: #e67300; 
}

.footerloginpage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.footerloginpage h6 {
    border-radius: 10px;
    font-size: calc((1.3vw + 1.3vh)/2);
    color: #318EA8; 
    cursor: pointer;
    margin: 0;
    text-align: center;
}

.footerloginpage h6:hover {
    text-decoration: underline;
}

.footerloginpage button {
    border-radius: 10px;
    width: auto; 
    padding: 15px 25px;
    font-size: calc((1.3vw + 1.3vh)/2);
    box-sizing: border-box; 
    margin: 0; 
    background-color: #FF8000; 
}

.footerloginpage button:hover {
    background-color: #318EA8; 
}

.button button:hover {
    background-color: #318EA8; 
}
