.footer_deleteaccpage {
    gap: 50px;
}

.delete-button {
    padding: 12 24px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: calc((1.3vw + 1.3vh)/2);
    cursor: pointer;
}

.delete-button:hover {
    background-color: darkgray;
}
