body {
    font-family: Impact, sans-serif;
    text-align: center;
    background: #318ea8;

}

.headersorgEdit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    .textorgse{
        font-weight: lighter;
        font-size: calc((4vw + 4vh)/2);
        margin-right: 35vw;
        color: white;
    }
    .exitbuttonse{
        background: none;
        width: 5vw;
        height: 3vh;
        margin-top: -3vh;
    }
    .exitbuttonse:hover {
        opacity: 0.5;
    }
}

.statusplateEdit {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
    label{
        color: white;
        font-size: calc((2vw + 2vh)/2);
    }
    input[type="text"]{
        margin-left: 1vw;
        background-color: darkcyan;
        color: white;
        border: white solid 1px;
        outline: none;
        font-size: calc((2vw + 2vh)/2);
        font-family: Impact, sans-serif;
        text-align: center;
        width: 10vw;
        height: 5vh;
    }
}

.statusEdit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5vw;
}

.buttonEdit{
    width: 10vw;
    height: 5vh;
    border: none;
    border-radius: 20px;
    background-color: darkorange;
    color: white;
    transition: background-color 0.3s, transform 0.1s ease-out;
}

.buttonEdit:hover{
    width: 15vw;
    background-color: white;
    color: darkorange;
    border: 1px solid darkorange;
}

.buttonEdit:disabled{
    background-color: darkgrey;
}

.buttonEdit:disabled:hover{
    width: 10vw;
    border: none;
    color: white;
    background-color: darkgrey;
}

.datesEdit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 5vw;
    margin-top: -3vh;
}

.daterequestEdit, .dateresponseEdit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный тёмный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Поверх всего контента */
}

.popup-content {
    background: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.popup-content {
    background: white;
    border-radius: 10px;
    width: 30vw;
    height: 30vh;
    text-align: center;
    h2{
        color: black;
        font-size: 2vw;
    }
}

.popup textarea {
    width: 80%;
    height: 50%;
    margin-bottom: 10px;
    resize: none;
    font-size: calc((2vw + 1.2vh)/2);
}

.popup-buttons {
    display: flex;
    justify-content: space-around;
}

.popup-buttons button {
    border: none;
    background: darkorange;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    width: 10vw;
    height: 5vh;
    font-size: 1.5vw;
    transition: all 0.2s ease;
}

.popup-buttons button:hover {
    background: white;
    color: darkorange;
}

.popup-buttons button:disabled {
    background: darkcyan;
    border: white 1px solid;
}

.popup-buttons button:disabled:hover {
    background: darkcyan;
    color: white;
    border: white 1px solid;
}

.popup-buttons button:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2vw;
    cursor: pointer;
    color: black;
    transition: color 0.2s;
}

.close:hover {
    color: darkorange;
}

select {
    border: 1px solid white;
    border-radius: 20px;
    width: 15vw;
    height: 5vh;
    margin-left: 1vw;
    outline: none;
    padding-left: 1vw;
    color: #ffffff;
    font-size: calc((2vw + 2vh)/2);
    background-color: darkcyan;
    text-align: center;
    cursor: pointer;
}

select:focus {
    border: 1px solid #ffffff;
    box-shadow: 0 0 5px #ffffff;
    background-color: darkcyan;
}

select option {
    background-color: darkcyan;
    color: white;
}








