body {
    font-family: Impact, sans-serif;
    text-align: center;
    background: #318ea8;

}

.headersorgSC {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    .textorgSE{
        font-weight: lighter;
        margin-top: -8vh;
        font-size: calc((4vw + 4vh)/2);
        margin-right: 40vw;
        color: white;
    }
}

.statusplate {
    margin-top: -10vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    label{
        color: white;
        font-size: calc((2vw + 2vh)/2);
    }
    input[type="text"]{
        margin-left: 1vw;
        background-color: darkcyan;
        color: white;
        border: white solid 1px;
        outline: none;
        font-size: calc((2vw + 2vh)/2);
        font-family: Impact, sans-serif;
        text-align: center;
        width: 10vw;
        height: 5vh;
    }
}

.status{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10vw;
}

.dates {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-right: 14vw;
}

.daterequest, .dateresponse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.registrationSC {
    display: grid;
    grid-template-columns: 50vw 50vw;
    margin: 0 auto;
}

.orginfoSC, .contactinfoSC {
    background: #318ea8;
    border: none;
    color: rgba(255, 255, 255, 0.49);
    text-align: left;
}

.orginfoSC {
    margin-left: 10vw;
}
.contactinfoSC {
    margin-left: 10vw;
}

h2 {
    margin-bottom: 2vh;
    font-size: calc((2vw + 2vh)/2);
    font-weight: lighter;
}

.orginfoitemSC, .contactinfoSC > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
}


label {
    font-size: calc((2vw + 2vh)/2);
    margin-bottom: 5px;
}

input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 30vw;
    height: 4vh;
    outline: none;
    text-align: left;
    padding-left: 1vw;
    color: darkorange;
    font-size: calc((2vw + 2vh)/2);
}

input[type="text"]:focus {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 30vw;
    height: 4vh;
    outline: none;
    text-align: left;
    padding-left: 1vw;
    color: darkorange;
    font-size: calc((2vw + 2vh)/2);
    border: 1px solid darkorange;
    box-shadow: 0 0 5px darkorange;
}

textarea {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 30vw;
    height: 10vh;
    outline: none;
    text-align: left;
    padding-left: 1vw;
    color: #000000;
    font-size: calc((2vw + 2vh)/2);
    resize: none;
}

textarea:focus {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 30vw;
    height: 10vh;
    outline: none;
    text-align: left;
    padding-left: 1vw;
    color: #000000;
    font-size: calc((2vw + 2vh)/2);
    border: 1px solid darkorange;
    box-shadow: 0 0 5px darkorange;
    resize: none;
}

.buttonplateSC {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20vh; /* Прижимает кнопку вниз */
}

.accbuttonSC {
    font-size: 1.5vw;
    width: 10vw;
    height: 7vh;
    color: white;
    background: darkorange;
    border: none;
    border-radius: 20px;
    margin-left: 12vw;
    transition: background-color 0.3s, transform 0.1s ease-out;
}

.accbuttonSC:hover {
    background: white;
    color: darkorange;
}

.accbuttonSC:disabled {
    background: darkcyan;
    border: white 1px solid;
}

.accbuttonSC:disabled:hover {
    background: darkcyan;
    color: white;
    border: white 1px solid;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный тёмный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Поверх всего контента */
}

.popup-content {
    background: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.popup-content {
    background: white;
    border-radius: 10px;
    width: 30vw;
    height: 30vh;
    text-align: center;
    h2{
        color: black;
        font-size: 2vw;
    }
}

.popup textarea {
    width: 80%;
    height: 50%;
    margin-bottom: 10px;
    resize: none;
}

.popup-buttons {
    display: flex;
    justify-content: space-around;
}

.popup-buttons button {
    border: none;
    background: darkorange;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 10vw;
    height: 5vh;
    font-size: 1.5vw;
    transition: all 0.2s ease;
}

.popup-buttons button:hover {
    background: white;
    color: darkorange;
}

.popup-buttons button:disabled {
    background: darkcyan;
    border: white 1px solid;
}

.popup-buttons button:disabled:hover {
    background: darkcyan;
    color: white;
    border: white 1px solid;
}

.popup-buttons button:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2vw;
    cursor: pointer;
    color: black;
    transition: color 0.2s;
}

.close:hover {
    color: darkorange;
}

select {
    border: 1px solid white;
    border-radius: 20px;
    width: 15vw;
    height: 5vh;
    margin-left: 1vw;
    outline: none;
    padding-left: 1vw;
    color: #ffffff;
    font-size: calc((2vw + 2vh)/2);
    background-color: darkcyan;
    text-align: center;
    cursor: pointer;
}

select:focus {
    border: 1px solid #ffffff;
    box-shadow: 0 0 5px #ffffff;
    background-color: darkcyan;
}

select option {
    background-color: darkcyan;
    color: white;
}








