body {
    font-family: Impact, sans-serif;
    text-align: center;
    background: #318ea8;
}

.text {
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: white;
    font-size: calc((10vw + 10vh)/2);
}

.podtext {
    margin-top: 1vh;
    margin-bottom: 10vh;
    color: white;
    font-size: calc((3vw + 3vh)/2);
}

button {
    font-family: Impact, sans-serif;
    background: white;
    color: #318ea8;
    border: none;
    border-radius: 20px;
    width: 40vw;
    height: 15vh;
    font-size: calc((3vw + 3vh)/2) ;
}

button:hover {
    font-family: Impact, sans-serif;
    background: #318ea8;
    color: #ffffff;
    border: 0.5vh solid white;
    border-radius: 20px;
    width: 40vw;
    height: 15vh;
    font-size: calc((3vw + 3vh)/2) ;
}