body {
    font-family: Impact, sans-serif;
    text-align: center;
    background: #318ea8;
}

h1 {
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: white;
    font-size: 15vh;
}

h2 {
    margin-top: 1vh;
    margin-bottom: 10vh;
    color: white;
    font-size: 5vh;
}

button {
    font-family: Impact, sans-serif;
    background: white;
    color: #318ea8;
    border: none;
    border-radius: 20px;
    width: 50vw;
    height: 15vh;
    font-size: 5vh ;
}